/* header */
header {

    nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $text-main-color;
    padding: 12px 0px;
    }

    .logo {
    height: 30px
    }

    .nav-right {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 500px;
            margin: 10px 0px;
        }

        li {
            color: $text-main-color;
            font-size: 16px;
            font-weight: 500;
            display: inline;
        }

        button {
            color: $button-blue;
            font-size: 16px;
            font-weight: 500;
            padding: 10px 12px;
            line-height: 18px;
            border: 1px solid $button-blue;
            border-radius: 10px;
            background-color: #ffffff;
        }

        .google-logo {
            height: 15px;
        }
    }


}
/* /header */
