/* jumbotron */

.jumbotron {
    @include flex(row, center, center);
    margin-top: 100px;
    margin-bottom: 140px;

    .jumbotron-text {
        width: 50%;
        margin: auto;
        padding-right: 65px;

        h2 {
            margin: 0px;
            color: $text-main-color;
            font-size: 52px;
            line-height: 70px;
            font-weight: 500;
        }

        h3 {
            font-size: 22px;
            color: $text-main-color;
            line-height: 35px;
            font-weight: normal;
            padding-right: 40px;
            margin: 35px 0px;
        }
    }

    .jumbotron-image{
        width: 50%;

        img {
            width: 100%
        }
    }
}

.sign-up {

    margin-bottom: 20px;

    button {
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 14px;
        border: 0px;
        color: #ffffff;
        background-color: $button-blue;

        img {
            height: 14px;
            padding-right: 5px;
        }

    }

    span {
        color: #bdb5af;
        font-size: 12px;
        margin: 0px 18px;
    }
}

a {
    text-decoration: none;
    font-size: 14px;
    color: $text-main-color;
}

a:hover {
    color: $button-blue;
}
/* /jumbotron */
